{% extends "base.html" %}
{% block content %}

<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://honeywell.scene7.com/is/image/honeywell/AeroBT-s_414384259_Business-Jet_2880x1440');
    height: 400px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Welcome to Aviator</h1>
        <h4 class="mb-3">The one stop solution to all your air needs!</h4>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->
{% endblock %}